apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: observability
  labels:
    app: tempo
spec:
  type: ClusterIP
  selector:
    app: tempo
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: http
      port: 3200
      targetPort: 3200
