apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: beyla
  namespace: observability
  labels:
    app: beyla
spec:
  selector:
    matchLabels:
      app: beyla
  template:
    metadata:
      labels:
        app: beyla
    spec:
      serviceAccountName: beyla
      hostPID: true
      containers:
        - name: beyla
          image: grafana/beyla:2.2
          securityContext:
            privileged: true
          volumeMounts:
            - name: beyla-config
              mountPath: /config
          env:
            - name: BEYLA_CONFIG_PATH
              value: /config/beyla-config.yml
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
      volumes:
        - name: beyla-config
          configMap:
            name: beyla-config
